# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
.vscode/*.code-snippets

# Ignore code-workspaces
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

# Ignore Format in file.exe
001_ejemplo/*.exe
002_ejemplo/*.exe
003_ejemplo/*.exe
004_ejemplo/*.exe
005_ejemplo/*.exe
006_ejemplo/*.exe
007_ejemplo/*.exe
008_ejemplo/*.exe
009_ejemplo/*.exe
010_ejemplo/*.exe
011_ejemplo/*.exe
012_ejemplo/*.exe
pruebaMono/*.exe
respuesta_ejercicios
